<div class="product-container">
    <% productList.forEach(product => { %>
      <div class="product-card">
        <img src="<%= product.ImgURL %>" alt="<%= product.Nome %>" class="product-image">
        <div class="product-details">
          <h2><%= product.Nome %></h2>
          <p><strong>Estoque:</strong> <%= product.Estoque %></p>
          <p><strong>Categoria:</strong> <%= product.Categoria %></p>
          <p><strong>Preço:</strong> R$ <%= product.Preco %></p>
          <p><strong>Descrição:</strong> <%= product.Descricao %></p>
          <a href="/produto/<%= product.ID %>" class="product-button">Ver Detalhes</a>
        </div>
      </div>
    <% }); %>
  </div>