<div class="product-container">
  <h1><%= product.Nome %></h1>

  <div class="product-container">
    <div class="product-card">
      <img src="<%= product.ImgURL %>" alt="<%= product.Nome %>" class="product-image">
      <div class="product-details">
        <p><strong>Estoque:</strong> <%= product.Estoque %></p>
        <p><strong>Categoria:</strong> <%= product.Categoria %></p>
        <p><strong>Preço:</strong> <%= product.Preco %></p>
        <p><strong>Descrição:</strong> <%= product.Descricao %></p>
      </div>
    </div>
  </div>

</div>